<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expedition</title>
</head>
<body>


<h1>Add new Expedition</h1>

<form method="POST" action="/exam1_war/expeditions/add">

    <div>
        <label for="id">ID:</label>
        <input
                type="number"
                id="id"
                name="id"
                placeholder="ID"
                required
        >
    </div>

    <br>

    <div>
        <label for="name">Name:</label>
        <input
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
        >
    </div>

    <br>

    <div>
        <label for="code">Code:</label>
        <input
                type="text"
                id="code"
                name="code"
                placeholder="Code - Must be unique"
                required
        >
    </div>

    <br>

    <div>
        <label for="region">Region:</label>
        <input
                type="text"
                id="region"
                name="region"
                placeholder="Ex: Amazonia, Costa pacifica"
        >
    </div>

    <br>

    <div>
        <label for="baseCamp">Base Camp:</label>
        <input
                type="text"
                id="baseCamp"
                name="baseCamp"
                placeholder="Expedition camp location"
        >
    </div>

    <br>

    <div>
        <label for="leader">Leader:</label>
        <input
                type="text"
                id="leader"
                name="leader"
                placeholder="Expedition leader"
        >
    </div>

    <br>

    <div>
        <label for="startDate">
            Start date:
        </label>

        <input
                type="date"
                id="startDate"
                name="startDate"
                placeholder="Start Date"
                required
        >
    </div>

    <br>

    <div>
        <label for="endDate">
            End date:
        </label>

        <input
                type="date"
                id="endDate"
                name="endDate"
                placeholder="End Date"
                required
        >
    </div>

    <br>

    <div>
        <label for="state">State:</label>

        <select id="state" name="state" required>

            <option value="">
                Select a state
            </option>

            <option value="Active">
                Active
            </option>

            <option value="Completed">
                Completed
            </option>

            <option value="Cancelled">
                Cancelled
            </option>

        </select>
    </div>

    <br>

    <button type="submit">
        Add Expedition
    </button>

</form>

</body>
</html>